:root {
    --primary: #499A18;
    --secondary: #E06733;
    --gray-light: #717171;
    --gray-dark: #636060;
    --background-section: #EDF2EC;
    --white: #fff;
    --transparent: rgba(224, 103, 51, 0);

    --font-family: "Inter", sans-serif;
    --second-family: "Inika", sans-serif;
    --third-family: "Roboto", sans-serif;
}
