:root {
    --primary: #499A18;
    --pastel-green: #d6e7d2;
    --secondary: #E06733;
    --gray-light: #717171;
    --gray-dark: #636060;
    --dusty-rose: #aea1a1;
    --neutral-gray: #d9d9d9;
    --ivory-gray: #e3e1d5;
    --background-section: #EDF2EC;
    --white: #fff;
    --transparent: rgba(224, 103, 51, 0);

    --font-family: "Inter", sans-serif;
    --second-family: "Inika", sans-serif;
    --third-family: "Roboto", sans-serif;
}
