body {
    font-family: var(--font-family);
}

.background-section {
    background: var(--bg-section);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.color-green {
    color: var(--green);
}
