@media (max-width: 768px) {

    /* HEADER */

    .header__wrapper {
        padding: 36px 25px;
    }

    /* hero */

    .hero__wrapper {
        padding: 24px 25px;
    }

    .hero__image {
        display: none;
    }

    .hero__title {
        font-size: 25px;
        line-height: 140%;
        margin-bottom: 20px;
    }

    .hero__description {
        margin-bottom: 20px;
    }

    /* ABOUT */

    .about__wrapper {
        padding: 30px 25px 31px 25px;
        gap: 0;
    }

    .about__title {
        font-size: 25px;
        margin-bottom: 21.5px;
    }

    .about__description {
        font-size: 15px;
        line-height: 167%;
        margin-bottom: 0;
    }

    /* SERVICE */

    .service__wrapper {
        padding: 30px 25px 27px 25px;
    }

    .service__title {
        font-size: 25px;
        margin-bottom: 35px;
    }

    .service__buttons {
        gap: 10px;
    }

    .service__list {
        row-gap: 34px;
        justify-content: center;
    }
}
