@media (max-width: 1024px) {

    /* HEADER */

    .header__wrapper {
        padding: 46.5px 50px;
    }

    .header__menu {
        background: var(--background-section);
        position: absolute;
        height: 0;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        transition: height 0.5s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__list {
        flex-direction: column;
        gap: 30px;
    }

    .burger__menu {
        display: flex;
    }

    .burger__active {
        height: 100vh;
    }

    /* HERO */

    .hero__wrapper {
        padding: 40px 50px 70px 50px;
    }

    .hero__image {
        height: 280px;
        width: 254px;
        order: 2;
    }

    .hero__inner {
        order: 1;
    }

    .hero__title {
        font-size: 35px;
        line-height: 143%;
        margin-bottom: 30px;
    }

    .hero__description {
        font-size: 16px;
        line-height: 156%;
        margin-bottom: 30px;
    }

    /* ABOUT */

    .about__wrapper {
        flex-direction: column;
        gap: 40;
        padding: 40px 50px 95px 50px;
    }

    .about__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__title {
        font-size: 35px;
        text-align: center;
    }

    .about__description {
        /* margin-bottom: 40px; */
        max-width: 100%;
    }

    .about__image {
        width: 250px;
        height: 258px;
    }

    /* SERVICE */

    .service__wrapper {
        padding: 60px 50px 70pxpx 50px;
    }

    .service__header {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        margin-bottom: 40px;
    }

    .service__title {
        font-size: 35px;
    }

    .service__list {
        row-gap: 38px;
    }

    .service__item {
        max-width: 280px;
    }

    .service__inner {
        padding: 10px 30px 18px 30px;
    }

    /* PRICES */

    .prices__title {
        font-size: 35px;
    }

    .pices__title-left {
        margin-bottom: 50px;
    }

    .prices__title-right {
        font-size: 25px;
        line-height: 140%;
        max-width: 296px;
    }

    .prices__block-last {
        margin-top: 99px;
    }

    .prices__button-contact {
        margin-bottom: 34px;
    }

}
